<img class="imageBanner" src="assets/veranda.jpg">

<div class="mainSection">
  <div>
    <h1>FOTO</h1>

    <p>
      L'Incantevole veranda  spicca sul verde della macchia punteggiata di ville monofamiliari,
      in un’affascinante posizione panoramica con vista mozzafiato sulla costa gallurese,
      l’arcipelago maddalenino e la Corsica.<br>
      Stare sulla veranda, è come stare al cinema senza pagare il biglietto:
      i colori delicati dell’alba e del tramonto, i colori del mare brillante col sole e
      increspato nelle giornate più grigie, l’andirivieni degli innumerevoli natanti a motore
      e a vela che attraversano il golfo di Arzachena e il canale di Caprera delizieranno la
      vostra vacanza con emozioni indimenticabili. Se siete fortunati, potrete osservare una
      delle numerosissime regate veliche e competizioni sportive che si organizzano tutti gli
      anni nelle acque dell’arcipelago, e a cui partecipano alcune delle più belle barche del mondo.
    </p>
  </div>
</div>