<mat-toolbar class="mat-toolbar">
    <a class="title1" routerLink="/">
      L'Incantevole Veranda
    </a>
</mat-toolbar>


<div id="menu">
  <a mat-button routerLink="/"> HOME </a>
  <a mat-button routerLink="/casa"> CASA </a>
</div>
<router-outlet />

<div class="bottom-bar">
  <div class="contatti">
    <p style="font-size: 25px">CONTATTI</p>
    <p style="font-size: 12px">MARIA: +39 3484165680</p>
    <p style="font-size: 12px">MATTEO: +39 3467912150</p>
    <p style="font-size: 12px">ma.borghe&#64;gmail.com</p>
  </div>
</div>