  <img class="imageBanner" src="assets/balloSardo.jpg">

<div class="casa">
  <h1>CASA</h1>

  <p>Ideale per vacanze da sogno al mare, in gruppi di amici o con la famiglia.<br>
  L'ingresso si apre su una splendida veranda coperta affacciata sull'impareggiabile panorama dell'Arcipelago<br>
  della Maddalena.  Basta uno sguardo ampio sul mare per sentirsi a casa. L'appartamento, dallo stile rustico e<br>
  autentico, comprende tre camere da letto matrimoniali, due bagni, cucina, soggiorno, due balconi e una<br>
  splendida veranda . Parcheggio nei pressi della casa. Per maggiori informazioni sui servizi, leggi qui</p>

  <img id="mappaCasa" src="assets/mappaBajaSardiniaClaudio.png">

  <h1>SERVIZI</h1>
  <p>Essenziali e biancheria della casa<br>
  Cuscini e coperte extra<br>
  Essenziali per la cucina<br>
  Cucina con forno<br>
  Camino<br>
  Aria condizionata (caldo/freddo)<br>
  TV<br>
  Lavatrice<br>
  Ferro da stiro<br>
  Phon<br>
  Posto auto gratuito<br>
  Veranda attrezzata</p>
</div>
