<img class="imageBanner" src="assets/consigli/statua-vele.jpg">

<div class="mainSection">
  <h1>PAESI E TERRITORIO</h1>
  <p>
    Baja Sardinia è una frazione del comune di Arzachena, 
    che comprende tutti i centri abitati sorti nel territorio della Costa Smeralda e del Golfo di Cannigione.
    Inoltre, sono facilmente raggiungibili sia i paesi sorti sulla direttrice verso Olbia,
    sia quelli costruiti sulla costa settentrionale sino a Santa Teresa di Gallura.
  </p>
  <br>
  <br>
  <br>
  <app-infoBlock
    [title]="'I paesi dell’arcipelago'"
    [text]="'Lungo la costa di fronte all’arcipelago della Maddalena si trovano diversi paesi
    di tipico aspetto mediterraneo, nati spesso come villaggi di pescatori e poi sviluppatisi
    a seguito della nascita del turimo. A circa 15 minuti di macchina da Baja Sardinia troviamo
    la frazione di <b>Cannigione</b>, il cui porto turistico rappresenta un punto di riferimento per tutta la regione.
    Da qui partono non solo le gite in barca nell’Arcipelago, ma anche escursioni sottomarine nel mare circostante.
    <br>
    Proseguendo oltre in direzione nord si arriva a <b>Palau</b>, dove è possibile passeggiare nel vivace centro storico
    o visitare il piccolo museo etnografico che illustra la vita agropastorale dei secoli scorsi.
    <br>
    Da qui è possibile prendere il traghetto per <b>La Maddalena</b>, città di 11mila abitanti situata sull’omonima isola.
    La Maddalena deve la sua fama principalmente alla sua cultura navale, che risale alla fallita invasione di
    Napoleone Bonaparte nel 1793. In seguito l’isola venne scelta come base della Marina Militare; oggi ospita il
    Museo navale Nino Lamboglia, dedicato al relitto di una nave romana nufragata presso l’isola di Spargi con un
    carico di centinaia di anfore.
    <br>
    La Maddalena è unita da un ponte all’isola di <b>Caprera</b>, dov’è possibile visitare la casa di Giuseppe Garibaldi
    per gli ultimi 26 anni della sua vita.'"
    [imageSrc]="'assets/paesi/lamaddalena.jpg'">
  </app-infoBlock>
  <br>
  <br>
  <app-infoBlock
    [title]="'La Costa Smeralda'"
    [text]="'A pochi chilometri da Baja Sardinia si estende la Costa Smeralda, con le sue rinomate località di villeggiatura
    celebri per le loro acque cristalline. Fra queste spicca senz’altro <b>Porto Cervo</b>, nata nel 1964 per volere del principe
    Karim Aga Khan IV. Il villaggio è caratterizzato da un’architettura che fonde elementi di tutto il bacino mediterraneo,
    con influenze che vanno dalla Sardegna alla Spagna, per arrivare fino alla Grecia e al Maghreb.
    <br>
    Altrettanto meritevole di una visita è il borgo di <b>Poltu Quatu</b>. Il nome gallurese significa in italiano “porto nascosto”
    ed è dovuto alla profonda insenatura in fondo alla quale si trova il borgo, e che conferisce a questo un’aria schiva ma
    allo stesso tempo affascinante.
    <br>
    Un altro piccolo gioiello della costa smeraldina è il paese di <b>San Pantaleo</b>, sorto ai primi dell’800 attorno ad una chiesa
    campestre. Oggi il luogo è noto soprattutto per la sua vivacità culturale, iniziata negli anni Settanta quando un gruppo di
    artisti galluresi e stranieri si insediarono nel borgo, attratti dalla sua atmosfera idillica e lontana dalla mondanità della costa.
    Da non perdere è quindi il mercatino che si svolge tutti i giovedì mattina, dove è possibile vedere le creazioni degli artigiani
    locali: ceramisti, fabbri, intarsiatori e tanto altro.'"
    [imageSrc]="'assets/paesi/porto-cervo.jpg'">
  </app-infoBlock>
  <br>
  <br>
  <app-infoBlock
    [title]="'L’interno'"
    [text]="'Per chi volesse scoprire il lato meno turistico della Sardegna è senz’altro consigliabile una visita nell’entroterra gallurese.
    Partendo da Baja Sardinia ci si può dirigere innanzitutto ad <b>Arzachena</b>, centro di 14mila abitanti nel cui comune ricade tutto il tratto
    di costa da Cannigione a Cala di Volpe. Qui si può fare una passeggiata nel centro storico fino alla Piazza Risorgimento, dove sorge la
    settecentesca Chiesa di Santa Maria della Neve. A pochi minuti di distanza si trova la Roccia del Fungo, un grosso masso granitico dalla
    forma bizzarra intorno al quale sorge la principale area verde della cittadina.
    <br>
    Proseguendo verso l’interno, dopo aver superato i monumenti archeologici di Capichera, si arriva a <b>Luogosanto</b>, paese che deve il suo nome
    alla grande quantità di santuari che ricoprono il suo territorio. Non c’è da sorprendersi quindi che le principali mete di interesse
    siano edifici di culto, molti dei quali costruiti in granito – pietra locale per eccellenza – e decorati in legno di ginepro.
    Ad agosto si tiene la rassegna Calici DiVini, un’occasione per degustare i numerosi vermentini galluresi, accompagnati da piatti tipici della zona.
    <br>
    Infine, è certamente meritevole di una visita l’olivastro di <b>Luras</b> (chiamato in Sardegna s’ozzastru), un esemplare di oltre 4000 anni
    che porta il titolo di essere vivente più antico d’Italia. Si tratta di un albero assolutamente monumentale, con una circonferenza di
    12 metri e un’altezza di 8. Da qui è possibile vedere dall’alto il Lago del Liscia, la principale sorgente idrica della zona.'"
    [imageSrc]="'assets/paesi/luogosanto.png'">
  </app-infoBlock>

</div>
