<img class="imageBanner" src="assets/consigli/statua-vele.jpg">

<div class="mainSection">
  <h1>BAJA SARDINIA</h1>

  <p>L'<em>Incantevole veranda</em> si trova nella zona occidentale di Baja Sardinia, nei pressi di borgo Le Mimose.
    Situata a circa 15 minuti a piedi dal centro e dalla Piazza Due Vele,
    dista una decina di minuti dalle due spiagge principali (Cala Battistoni e Spiaggia Tre Monti). 
    Nata negli anni Sessanta per iniziativa della famiglia Gentili, decisa a investire nel turismo sulla spinta
    del boom economico della Costa Smeralda, anticamente era chiamata Battistoni</p>
  <br><br>
  <div class="info-container">
    <div class="info-item">
      <img src="assets/bajaSardinia/shopping-cart.avif" alt="Shopping" class="info-icon">
      <p>All’ingresso di Baja Sardinia potete trovare un piccolo centro commerciale:
        qui trovate un supermercato Crai (aperto in estate 7/7), un bar tabacchi, l’ATM della BNL e altri negozi stagionali.
        Altri esercizi commerciali sono situati al centro, nella Piazzetta Due Vele che si affaccia su Cala Battistoni:
        qui si trovano anche una gelateria e un altro bar tabacchi.</p>
    </div>
    <br>
    <div class="info-item">
      <img src="assets/bajaSardinia/money.avif" alt="ATM" class="info-icon">
      <p>Il mercato settimanale si tiene il martedì mattina in Piazza dei Pini,
        dove si trovano anche l’ufficio postale (0789 99137), la farmacia (0789 99387)
        e un Atm del Banco di Sardegna. </p>
    </div>
    <br>
    <div class="info-item">
      <img src="assets/bajaSardinia/first-aid.avif" alt="Medical" class="info-icon">
      <p>La Guardia pediatrica (0789 99117) e la Guardia Medica turistica (0789 99569) sono disponibili
        a Baja Sardinia, altrimenti, la Medica turistica si trova anche a Cannigione (via Normandia, 0789 552020).
        Il pronto soccorso più vicino è all’Ospedale Giovanni Paolo II di Olbia (per emergenze, chiamare 118 o 0789 552200).</p>
    </div>
  </div>
  <br>
</div>
