/* You can add global styles to this file, and also import other style files */
* {
  margin: 0;
  padding: 0;
}


:root {
  --primary-color: #605DC8;
  --secondary-color: #8B89E6;
  --accent-color: #e8e7fa;
  --shadow-color: #E8E8E8;
}

button.primary {
  padding: 10px;
  border: solid 1px var(--primary-color);
  background: var(--primary-color);
  color: white;
  border-radius: 8px;
}

html, body { height: 100%; }
body {
  text-align: center;
  font: normal normal normal 12px/1.4em din-next-w01-light,din-next-w02-light,din-next-w10-light,sans-serif;
  color: #2B689C;
}

.imageBanner {
  width: 100%;    /* Stretches the image to fill the container horizontally */
  height: 335px;   /* Maintains the aspect ratio */
  object-fit: cover;   /* Makes the image fill the space while maintaining aspect ratio */
  object-position: center; /* Keeps the image centered (you can adjust this as needed) */
  margin-bottom: 20px;
}

h1 {
  font: normal normal bold 25px/1.4em din-next-w01-light,din-next-w02-light,din-next-w10-light,sans-serif;
  font-family: futura-lt-w01-book,sans-serif;
  font-weight: normal;
  font-size: 25px;
  line-height: normal;
  letter-spacing:0.1em;
  padding-top: 20px;
  padding-bottom: 20px
}

p {
  font: futura-lt-w01-book, sans-serif;
  font-size: 15px;
  line-height: 2em;
}
