.bg-img {
  min-height: 100vh;
  margin: 0;
  background-image: url('/assets/veranda.jpg');
  background-size: cover;
  height: 100%;
  width:100%; /*full width*/

  display: flex;
  align-items: center;
  justify-content: center;

  color: white;
  text-align: center;
  line-height: normal;
  font-weight: normal;
  letter-spacing: normal;
  letter-spacing: 0em;
  word-wrap: break-word;
}



.bg-img > .title > h1 {
  font-family: proxima-n-w01-reg,sans-serif;
  font-size: 60px;
}

.bg-img > .title > h2 {
  font-family: georgia,palatino,book antiqua,palatino linotype,serif;
  font-size: 30px;
  font-style: italic;
}
